/* Layout - för sidans stora strukturelement och sektioner */

@use 'variables' as *;
@use 'mixins' as *;

main {
    display: grid;
    gap: $spacing-lg;
}

.wrapper {
    /* Sätter bredden till antingen 1200px eller 100% minus padding på sidorna */
    width: min(1200px, 100% - ($spacing-lg * 2));
    
    /* Centrerar elementet (samma som margin: 0 auto) */
    margin-inline: auto;
}

.hero {
    position: relative;
    width: 100%;
    min-height: 35dvh;
    padding: $spacing-xl;
    background-image: 
        linear-gradient(to bottom, rgb(0, 72, 99), rgba(47, 10, 0, 0.281)),
        image-set(
            url('../assets/hero.webp') type('image/webp'),
            url('../assets/hero.jpg') type('image/jpeg')
            );
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @include flex(row, center, center);

    h1 {
        writing-mode: vertical-lr;
        text-align: center;
        color: rgb(255, 255, 255);
        position: absolute;
        left: $spacing-md;    
    }

    p {
        max-width: 600px;
        text-align: center;
        align-self: center;
        justify-self: center;
        color: hsl(0, 0%, 100%);
        font-size: clamp(1rem, 0.643rem + 0.952vw, 1.5rem);
    }

    @include mobile {
        p {
        width: clamp(12.5rem, -6.25rem + 50vw, 18.75rem);
        }
    }
}

.evaluation {
    @include flex(column, center, center);
    gap: $spacing-md;
    max-width: 100%;
    min-height: 35dvh;
    max-height: none; 
    padding: $spacing-sm;

    p {
        max-width: 50ch;
        align-self: center;
        justify-self: center;
        color: var(--text-color);
    }
}

.charts {
    @include flex(column, center, stretch);
    gap: $spacing-xl;
}

.maps {
    @include flex(column, center, stretch);
    gap: $spacing-sm;

        iframe {
            margin-top: 1rem;
        }

}