/* 'as *' gör så att man kan kan använda variablerna direkt med t.ex. '$color-primary' istället för ett längre prefix. */
/* Utan 'as *' skulle man behöva skriva variables.$color-primary varje gång */

@use 'variables' as *;
@use 'mixins' as *;

@use 'variables' as *;
@use 'mixins' as *;

.navbar {
    background-color: var(--nav-bg);
    padding: $spacing-lg 0;

    .wrapper {
        gap: $spacing-md;
        flex-wrap: wrap;
        @include flex(column, center, center);
    }

    &__logo {
            img {
            height: clamp(10rem, 8.571rem + 3.81vw, 12rem);
            width: auto;
            }

            .logo-light { 
            display: inline; 
            }
            .logo-dark { 
            display: none; 
        }

        @include dark-mode {
            .logo-light { 
                display: none; 
            }
            .logo-dark { 
                display: inline; 
            }
        }
    }

    &__links {
        @include flex(row, center, center);
        list-style: none;
        padding: 0;
        margin: 0;
        gap: $spacing-md;

        li a {
            color: var(--nav-text);
            text-decoration: none;
            padding: $spacing-md;
            border-radius: 0.4rem;
            transition: background-color 1.0s, color 1.0s;

            &:hover {
                background-color: $color-primary-dark;
                color: white;
                transition: background-color 0.4s, color 0.4s;
            }
        }
    }

  /* Mobilanpassning */
    @include mobile {
        &__links {
            flex-wrap: wrap;
            @include flex(column, center, center);
            gap: $spacing-md;

            li a {
                padding: $spacing-sm;
            }
        }

            &__logo {
            display: none;
        }
    }
}